/* ---------------------------------------------------------------------------- CSS RESET  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  font-family: "Open Sans";
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  overflow: hidden;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/*
    10. Remove list styling
    */
ol,
ul {
  list-style: none;
  padding: 0;
}

/* ---------------------------------------------------------------------------- VARIABLES SETUP  */

:root {
  --clr__white: hsl(212, 100%, 97%);
  --clr__lightblue:  hsl(205, 82%, 41%);
}


/* ---------------------------------------------------------------------------- PAGE LAYOUT  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--clr__white);
  /* background: linear-gradient(45deg, hsl(0, 0%, 100%), hsl(251, 100%, 97%)); */
}
/* ---------------------------------------------------------------------------- NAVBAR  */

nav {
 
  background: linear-gradient(
    90deg,
   var(--clr__lightblue) 35%,
    var(--clr__white) 90%
  );
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  /* gap: 1rem; */
}

button {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  color:var(--clr__lightblue);
  background: var(--clr__white);
  outline: 2px solid var(--clr__white);
  font-weight: 700;
  letter-spacing: 2px;
  width: 8rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 100;
}
button::before {
  content: "";
  width: 0;
  height: 2.5rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color:var(--clr__lightblue);
  transition: 0.5s;
  z-index: -1;
}

button:hover {
  color: var(--clr__white);
  transition: 0.5s;
}
button:hover::before {
  width: 8rem;
}
button:active::before {
  background-color: hsla(205, 82%, 41%, 0.9);
  transition: 0.1s;
}
svg {
  min-width: 80px;
}
/* ---------------------------------------------------------------------------- CARDS STYLING  */
.main__card,
.signup__card,
.login__card,
.user__interface {
  display: none;
  border-radius: 1rem;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 20px -20px 40px hsl(210, 26%, 82%),
    -20px 20px 40px hsl(180, 100%, 97%);
  animation: grow 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.active {
  display: flex;
}

@keyframes grow {
  0% {
    transform: scale(0.1);
    opacity: 0;

  }


  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ---------------------------------------------------------------------------- MAIN CARD  */

.main__card {
  max-width: 55rem;
}
.content__wrapper {
  min-width: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.description {
  color: hsl(216, 24%, 44%);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.img__wrapper {
  min-width: 35rem;
  background-image: url(images/intive__img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------------------------------------------------------- SIGNUP CARD & LOGIN CARD  */
/* .signup__card {
  display: none;
} */
.signup__card,
.login__card {
  max-width: 30rem;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  color:var(--clr__lightblue);
}
.signup__card > form,
.login__card > form {
  display: grid;
  gap: 1.5rem;
  align-items: center;
}
.signup__card > form {
  grid-template-columns: 2fr 3.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.login__card > form {
  grid-template-columns: 2fr 3.5fr;
  grid-template-rows: 1fr 1fr;
}

input {
  background-color: var(--clr__white);
  outline: 1px solid var(--clr__lightblue);
  border: none;
  color:var(--clr__lightblue);
  font-weight: 700;
  border-radius: 1.5rem;
  height: 2rem;
  width: 100%;
  padding: 0 0.5rem;
}
input:focus {
  outline: 2px solid var(--clr__lightblue);
}
#signup__btn,
#login__btn {
  background-color:var(--clr__lightblue);
  color: var(--clr__white);
  grid-column: 1 / span 2;
  width: 10rem;
  height: 2.5rem;
  justify-self: center;
  cursor: pointer;
  transition: 0.5s;
  outline: 2px solid var(--clr__lightblue);
  font-size: 1.1rem;
}
#signup__btn:hover,
#login__btn:hover {
  background-color: var(--clr__white);
  color:var(--clr__lightblue);
}

/* ---------------------------------------------------------------------------- FORM VALIDATION  */
input:user-invalid {
  outline: 2px solid hsl(0, 100%, 50%);
}
input:user-valid {
  outline: 2px solid hsl(120, 100%, 25%);
}
input ~ .error__msg {
  display: none;
}
input:user-invalid ~ .error__msg {
  display: block;
  font-size: 10px;
  color: red;
  margin: 0 5px;
}


/* ---------------------------------------------------------------------------- USER INTERFACE */
.user__interface{
  flex-direction: column;
  width:80%;
  max-height: 80%;
  padding: 1rem;
  gap:1rem;
  
}
canvas {
  max-height:15rem;
}
.transactions__container {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  overflow-y: scroll;
}

.transactions__list,
.transaction__details {
  display: flex;
  border-radius: 1rem;
  justify-content: space-between;
}
.transactions__list {
  display: flex;
  padding: 1rem;
  background-color: hsla(205, 82%, 41%, 0.9);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.transaction__details {
  padding: 1rem;
  margin: .8rem .5rem;
  background-color: var(--clr__white);
  color: var(--clr__lightblue);
  animation: grow 1s;
}
.transaction__details > li,
.transactions__list > li {
  width: 100%;
  text-align: left;
  padding-right: 1rem;
}

/* ---------------------------------------------------------------------------- MEDIA QUERY  */
@media screen and (max-width: 768px) {

  .main__card,
.signup__card,
.login__card,
.user__interface {
  min-width: 320px;
  max-height: 550px;
  overflow-y: scroll;
}

nav {
  background:var(--clr__lightblue);
  justify-content: center;
  
}
button {
  transform: scale(0.9);
}


.signup__card > form,
.login__card > form {
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items: stretch
}
#signup__btn,
#login__btn {
  align-self: center;
  margin: 1rem 0;
}
.user__interface {
  font-size: .8rem;
}
.date,
.balance {
  display: none;
}
.transaction__details > li {
  padding: 0;
}

}